body {
  margin: 0 5vw;
}

.progress__section {
  display: grid;
  grid-template-rows: 50vh 50vh;
  align-items: center;
  justify-items: center;
}

.progress__bar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 0% 100%),
    conic-gradient(#2259f4 0%, #bfbfbf 0);
  opacity: 1;
  transition: opacity 0.2s;
}

.progress__bar_animated {
  animation: spin 4s linear infinite;
}

.progress__bar_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
}

.progress__options {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-row-gap: 2vh;
  align-items: center;
  justify-items: center;
}

.progress__input {
  max-width: 72px;
  height: 38px;
  border-radius: 40px;
  border: 2px solid #bfbfbf;
  text-align: center;
}

.progress__checkbox {
  display: inline-block;
  width: 72px;
  height: 38px;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.progress__checkbox::after {
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 17px;
  background: #fff;
  top: 3px;
  left: 3px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #2259f4;
}
.switch-on::after {
  left: 37px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 568px) {
  .progress__section {
    grid-template-rows: auto;
    grid-template-columns: 45vw 45vw;
    align-self: center;
    margin: 25vh auto;
  }

  .progress__options {
    grid-template-columns: auto auto;
  }
}
